common --test_output=errors
# common --remote_cache_compression

# Hermetic Rust builds: don't inherit shell environment in cargo build scripts
common --@rules_rust//cargo/settings:use_default_shell_env=False

try-import .bazel.buildbuddy.rc
try-import .bazel.compilation_mode.bazelrc
try-import .bazel.build_salt.bazelrc
