---
BasedOnStyle: LLVM
Cpp11BracedListStyle: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
ColumnLimit: 100

