compile_commands.json
**/*.o
**/main
.mull.rust.cmake
_build
BuildXcode
BuildNinja
BuildNinjaDebug
BuildNinjaRelease
projects/**
!projects/CMakeLists.txt
tmp/
*.sqlite

cmake-build*
*.log
*.retry

.DS_Store

tags
build*dir
CMakePresets.json
bazel-*
MODULE.bazel.lock
.mull-ci-version-suffix
.mull-ci-cs-repo
.bazel.buildbuddy.rc
.bazel.compilation_mode.bazelrc
.bazel.build_salt.bazelrc
rust-project.json
