compile_commands.json
**/*.o
**/main
.mull.rust.cmake
_build
BuildXcode
BuildNinja
BuildNinjaDebug
BuildNinjaRelease
projects/**
!projects/CMakeLists.txt
tmp/
*.sqlite

cmake-build*
.vagrant
*.log
*.retry
tests-lit/tests/**/*.ll

.DS_Store

