[submodule "vendor/LibEBC"]
	path = vendor/LibEBC
	url = https://github.com/AlexDenisov/LibEBC.git
	branch = fix_macos_freebsd_builds
[submodule "vendor/json11"]
	path = vendor/json11
	url = https://github.com/dropbox/json11
	branch = master
[submodule "vendor/libirm"]
	path = vendor/libirm
	url = https://github.com/mull-project/libirm.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
