message(STATUS "Mull.Rust> user config .mull.rust.cmake found")

set(mull_rust_libpath
  "/Users/Stanislaw/.rustup/toolchains/nightly-x86_64-apple-darwin/lib/"
)

set(mull_rust_additional_libraries
  libstd-a260b5db713b337f.dylib
  libtest-551a7b69d9c2ff2f.dylib
)
