{
    "configurations": [
        {
            "name": "Linux",
            "includePath": [
                "${workspaceFolder}/**",
                "{{INSTALL_PATH}}/include/"
            ],
            "defines": [],
            "compilerPath": "{{COMPILER}}",
            "cStandard": "c17",
            "cppStandard": "c++17"
        }
    ],
    "version": 4
}
