{{=[[ ]]=}}name: macOS CI
env:
  CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
on:
  push:
    branches: ["main"]
    tags: ["**"]
  pull_request:
    branches: ["main"]
jobs:
  macos:
    name: LLVM ${{ matrix.LLVM_VERSION }}
    runs-on: [[ OS_RUNNER ]]
    strategy:
      matrix:
        include:
          [[#strategy]]
          - OS_NAME: "[[ OS_NAME ]]"
            LLVM_VERSION: [[ LLVM_VERSION ]]
          [[/strategy]]
    steps:
      - name: Fix git
        run: |
          git config --global --add safe.directory $PWD
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: ./.github/actions/detect-package-metadata
        id: metadata
      - name: Run CI task
        run: |
          brew install zlib ncurses sqlite ninja llvm@${{ matrix.LLVM_VERSION }}
          pip3 install -r requirements.txt --break-system-packages
          ./infrastructure/generator.py cmake --os macos --llvm_version ${{ matrix.LLVM_VERSION }}
          # new CMake rejects too old json library
          cmake -DCMAKE_POLICY_VERSION_MINIMUM=3.5 --preset mull -DMULL_VERSION=${{ steps.metadata.outputs.version }}${{ steps.metadata.outputs.suffix }}
          cmake -DCMAKE_POLICY_VERSION_MINIMUM=3.5 --workflow --preset build-and-test
          cmake -DCMAKE_POLICY_VERSION_MINIMUM=3.5 --workflow --preset package
          ./tests/end2end/setup_end2end_tests.sh
          ./tests/end2end/run_end2end_tests.sh macos ${{ matrix.LLVM_VERSION }}
          mull-runner-${{ matrix.LLVM_VERSION }} --version
      - name: Publish package
        if: env.CLOUDSMITH_API_KEY != null
        run: |
          cloudsmith push raw \
            --name mull-`echo ${{ matrix.LLVM_VERSION }} | awk -F. ' { print $1 } '` \
            --version ${{ steps.metadata.outputs.version }}${{ steps.metadata.outputs.suffix }} \
            mull-project/mull-${{ steps.metadata.outputs.channel }} \
            --tags macos \
            build.${{ matrix.OS_NAME }}.${{ matrix.LLVM_VERSION }}.dir/*.zip
      - name: Move package
        run: |
          mkdir -p /tmp/packages
          mv build.${{ matrix.OS_NAME }}.${{ matrix.LLVM_VERSION }}.dir/*.zip /tmp/packages/
      - uses: ./.github/actions/attach-package
        with:
          GH_API_KEY: ${{ secrets.GITHUB_TOKEN }}
