name: CI macOS

env:
  BINTRAY_REPO: "macos"
  LLVM_RELEASE: "9.0"

on:
  pull_request:
  push:
    branches:
      - master
    tags:
      - "**"

jobs:
  test:
    name: LLVM ${{ matrix.LLVM_VERSION }}
    runs-on: macOS-latest
    strategy:
      matrix:
        LLVM_VERSION: ["3.9", "4.0", "5.0", "6.0", "7.0", "8.0", "9.0"]

    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true
      - name: Set build settings
        id: settings
        run: |
          echo ::set-output name=version::`grep -Eo "MULL_VERSION [0-9.]+" CMakeLists.txt | awk ' { print $2 } '`

          case $GITHUB_EVENT_NAME in
            "pull_request")
              echo ::set-output name=suffix::-pr`grep -Eo "\"number\": [0-9]+" $GITHUB_EVENT_PATH | awk ' { print $2; exit } '`
              echo ::set-output name=package::mull-nightly
              echo ::set-output name=channel::nightly
            ;;
            "push")
              case $GITHUB_REF in
                "refs/heads/"*)
                  echo ::set-output name=suffix::-trunk`git rev-list HEAD --count`
                  echo ::set-output name=package::mull-nightly
                  echo ::set-output name=channel::nightly
                ;;
                "refs/tags/"*)
                  echo ::set-output name=suffix::""
                  echo ::set-output name=package::mull
                  echo ::set-output name=channel::stable
                  if [ `echo $GITHUB_REF | awk -F/ ' { print $3 } '` != `grep -Eo "MULL_VERSION [0-9.]+" CMakeLists.txt | awk ' { print $2 } '` ];
                  then
                    false
                  fi
                ;;
                *)
                  false
                ;;
              esac
            ;;
            *)
              false
            ;;
          esac
      - name: Run CI task
        run: |
          pip install ansible
          cd infrastructure && \
          ansible-playbook macos-playbook.yaml \
            -e llvm_version="${{ matrix.LLVM_VERSION }}.0" \
            -e source_dir=$PWD/.. \
            -e gitref=$GITHUB_SHA \
            -e host=localhost \
            -e SDKROOT=`xcrun -show-sdk-path` \
            -e mull_version=${{ steps.settings.outputs.version }}${{ steps.settings.outputs.suffix }} \
            --verbose
      - name: Publish package
        if: matrix.LLVM_VERSION == env.LLVM_RELEASE
        run: |
          curl --silent --show-error --location --request DELETE \
            --user "alexdenisov:${{ secrets.BINTRAY_API_KEY }}" \
            "https://api.bintray.com/packages/mull-project/${{ env.BINTRAY_REPO }}/${{ steps.settings.outputs.package }}/versions/${{ steps.settings.outputs.version }}${{ steps.settings.outputs.suffix }}"
          curl --silent --show-error --fail --location --request PUT \
            --upload-file infrastructure/packages/`cat infrastructure/PACKAGE_FILE_NAME`.zip \
            --user "alexdenisov:${{ secrets.BINTRAY_API_KEY }}" \
            "https://api.bintray.com/content/mull-project/${{ env.BINTRAY_REPO }}/${{ steps.settings.outputs.package }}/${{ steps.settings.outputs.version }}${{ steps.settings.outputs.suffix }}/`cat infrastructure/PACKAGE_FILE_NAME`.zip;publish=1"